
{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $options := .Get 1 }}
{{ $image := ($original.Resize $options) }}
{{ .Scratch.Set "image" $image }}
{{ if lt $original.Width $image.Width }}
{{ .Scratch.Set "image" $original }}
{{ end }}
{{ $image := .Scratch.Get "image" }}


<figure>
	<img style="max-width: 100%; width: auto; height: auto;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
	<figcaption>
	{{ with .Inner }}
	{{ . }}
	{{ end }}
	</figcaption>
</figure>